body {
    scroll-behavior: smooth;
    margin: 0px;
    text-align: center;
}

.navbar{
    background-color: #c3edea;
}

.navbar-brand img{
    width: 80px;
    height: 70px;
}

/* .profile {
    width: 100px;
    height: 90px;
    padding-top: 15px;
    position: relative;
    left: 100px;
} */

.nav-link{
    /* display: inline; */
    font-size: 1.5rem;
    color: #007892;   
}

.nav-link:hover {
    background-color: #35d0ba;
    cursor: pointer;
    transition: all 0.5s;
    padding-left: 15px;
    padding-right: 15px;
  }
/* ------------------------------top div---------------------------- */
.top {
    display: inline-block;
    position: relative;
    background-color: #c3edea;
    width: 100%;

}

.cloud1 {
    position: relative;
    width: 270px;
    height: auto;
}

.sun {

    width: 100%;
    height: 350px;
    position: relative;
}

.cloud2 {
    position: relative;
    width:220px;
    height: auto;
 /* top: 25%; */
}

.neonname {
    width: 100%;
    position: relative;
}

.introduction {
    position: relative;
}


/* ----------------------------mid div---------------------------- */
.mid {
    position: relative;
    width: 100%;
}

.profiletop {
    margin-top: 50px;
    width: 180px;
    height: 170px;
    margin-bottom: 20px;
}

.title {

    color: #007892;
}

.description {
    display: block;
    /* width: 40%; */
    margin: auto 0;
    color: #565d47;
    font-size: 1.2rem;

}

hr {

    border-style: none;
    border-top-style: dotted;
    color: gray;
    border-width: 10px;
    width: 15%;
    border-color: gray;
}

.quality {
    margin-top: 60px;
    color: #007892;
    font-size: xx-large;

}
.cf1
{
    position: relative;
    top: 100px;
}

.profiletop1 {
    width: 180px;
    height: 170px;
}

.title1 {
    display: inline-block;
    margin-top: 30px;
    color: #007892;
    font-size: xx-large;
    margin-bottom: 50px;
}

.description1 {
    display: inline-block;
    color: #565d47;
    /* font-size: x-large; */
    width: 90%;

}

.cf2{
    position: relative;
    top: 150px;
}

.title2 {
    color: #007892;
    font-size: xx-large;
    margin-bottom: 50px;
    margin-top: 30px;
}

.description2 {
    display: inline-block;
    color: #565d47;
    width: 90%;
}

.profiletop2 {
    width: 180px;
    height: 170px;
}

.quality2 {
    margin-top: 80px;
    color: #007892;
    font-size: xx-large;

}

.title3{
    color:#007892 ;

}

.description3 {
    margin-top: 50px;
    color: #565d47;
    font-size: 1.2rem;


}
/* ------------------------------Foot div 1----------------------------------------- */
.footup{
    position: relative;
    width: 100%;
    text-align: center;
    top: 50px;
}
.message{
    color:#c3edea ;
    background: #007892;
    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
    text-align: center;
    padding: 15px 30px 15px 30px;
    text-decoration: none;
    margin: 24px 0 0;
    border-radius: 3px;
    border: 0;
    text-transform: uppercase;
    margin-top: 70px;
}

.far{
    padding-right: 9px;
}
/* ------------------------------Foot div----------------------------------------- */
.foot {
    display: block;
    background-color: #c3edea;
    position: relative;
    height: 120px;
    top: 120px;
}

.socialmedia {
    color: #007892;
    text-decoration: none;
    padding: 20px;
    font-size: larger;
}
.socialmedia1 {
    position: relative;
    color: #007892;
    text-decoration: none;
    padding: 20px;
    padding-bottom: 30px;
    width: 100%;
}


@media screen and (max-width:599px){ 
    .cloud2 {
        position: relative;
        width:220px;
        height: auto;
    }

    .profiletop1 {
        width: 180px;
        height: 170px;
        float: center;
    }
    .foot {
        display: block;
        background-color: #c3edea;
        position: relative;
        height: 120px;
        top: 140px;
    }

}

